#locateSection{
}

#locateContent{
	display: flex;
	flex-direction: column;
	justify-content: center;
	background-color: #fff;
	height: 70vh;
	width: 90vw;
	padding: 10vh 10vw;
	margin: 0 auto;
	border-radius: 100px;
}
#locateContent #infoContent{
	display: flex;
	flex-direction: row;
	height: 90vh;
}
#locateContent #infoContent #map{
	flex: 1;
	border: 2px solid;
}
#locateContent #infoContent #locateInfo{
	flex: 1;
	border: 1px solid;
	background-color: #fbb90d;
}
#locateContent #infoContent #locateInfo img{
	width: 20vh;
	height: 20vh;
	padding: 1vh;

}
#locateContent #locateList{
	display: flex;
	flex-direction: row;
	justify-content: space-around;
	text-align: center;
}

#locateContent #locateList button{
	flex:1;
	height: 5vh;
	font-size: 1.5vh;
	background-color: #fbb90d;
	border-radius: 0 0 16px 16px;
	border: 1px solid;
}