.menubody {
  display: flex;
  flex-direction: column;
  background-color: gainsboro;
  height: 70vh;
  width: 90vw;
  padding: 0;
  margin: 0 auto;
  border-radius: 100px;
}

/*menubar            */
.menubar {
  display: flex;
  justify-content: center;
  flex-direction: row;
  margin-top: 2%;
  margin-bottom: 2%;
}

.menubar h3 {
  font-weight: bold;
  font-style: italic;
  opacity: 0.4;
  margin-right: 0.4vw;
  font-size: 3vh; /* 반응형 폰트 크기 추가 */
}

.menubar h3:last-child {
  margin-right: 0;
}

.menubar .bar {
  opacity: 1;
}

.menubar .menutype:hover {
  opacity: 1;
  cursor: pointer;
}

.menubar .highlight {
  opacity: 1;
  font-size: 3.5vh;
  color: red;
  text-decoration: underline;
  text-decoration-color: red;
  text-decoration-style: double;
}
.hidden {
  display: none;
}
/* card */

.menu{
    display: flex;
    align-items: center;
    flex-wrap: wrap;
}
.card{
    width: 13%;
    margin: 3%;
    background-color:white;
    box-sizing: border-box;
    box-shadow: 0 0 10pxx rgba(0,0,0,0.05);
    border-radius: 10px;
}
.card img{
    height: auto;
    width:100%;
    border-radius: 10px;
    margin:auto;
}
.foodname{
    margin: auto;
    padding: 2%;
    text-align: center;
    background-color: yellow;
    font-size: 1.5em;
    font-weight: bold;
}




/* 장바구니 버튼 우측 하단 고정 */
.cart {
  position: fixed;
  bottom: 10px;
  right: 10px;
  z-index: 9999;
}

.cart img {
  width: 50px;
  height: 50px;
}