* {
    box-sizing: border-box;
}

body {
    background-image: url('../img/temp_hamburger.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    /*이미지를 브라우저 창에 고정*/
    width: 600px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}

.maincontain {
    width: 40vw;
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
}

p,
h2 {
    text-align: center;
    color: white;
}

h2 {
    margin-top: 10px;
}

.logobox {
    display: inline-block;
}

.logo {
    width: 5vh;
    height: 5vh;
    background-color: #db0007;
    color: #fbb90d;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 4.5vh;
    font-weight: bold;
    text-decoration-line: none
}

input[type=text],
input[type=password],
select,
textarea {
    width: 100%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
    resize: vertical;
}

label {
    padding: 12px 12px 12px 0;
    display: inline-block;
}

input[type=submit] {
    background-color: #805959;
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    margin-top: 10px;
    float: right;
}

input[type=submit]:hover {
    background-color: #db0007;
}

input[readonly] {
    background-color: #E4F0C9;
}

.container {
    border-radius: 5px;
    background-color: #FFFAE6;
    padding: 20px;
}

.col-25 {
    float: left;
    width: 25%;
    margin-top: 6px;
    text-align: center;
}

.col-75 {
    float: left;
    width: 75%;
    margin-top: 6px;
}

/* Clear floats after the columns */
.row:after {
    content: "";
    display: table;
    clear: both;
}