html,
body {
  height: 100%;
}

body {
  display: flex;
  align-items: center;
  padding-top: 40px;
  padding-bottom: 40px;
  background-color: #fbb90d;
}

.logo {
  display : inline-block;
  background-color: #db0007;
  color: #fbb90d;
  font-size: 70px; /* Adjust the font size to increase the logo size */
  height: 80px; /* Adjust the height to increase the logo size */
  width: 80px; /* Adjust the width to increase the logo size */
}

.form-signin {
  max-width: 330px;
  padding: 15px;

}

.form-signin .form-floating:focus-within {
  z-index: 2;
}

.form-signin input[type="email"] {
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}
.form-signin input[type="uname"] {
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}
.form-signin input[type="pwd"] {
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}
.form-signin input[type="telno"] {
  margin-bottom: 10px;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}

    

