body {
    text-align: center;
    background-image: url('../img/temp_hamburger.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

#container {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    top: 4vh;
}
.logobox {
    margin-top: 2vh;
    display: inline-block;
}

.logo {
    width: 5vh;
    height: 5vh;
    background-color: #db0007;
    color: #fbb90d;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 4.5vh;
    font-weight: bold;
    text-decoration-line: none;
}
h1 {
    color:white;
}
#cart {
    border-collapse: collapse;
    width: 70%;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}

#cart td,
#cart th {
    border: 1px solid #ddd;
    padding: 1vh 0;
}

#cart tr {
    background-color: #f2f2f2;
}

#cart tr:hover {
    background-color: #ddd;
}

#cart th {
    text-align: center;
    background-color: gainsboro;
    color: #000;
}

.btn {
    background-color: #db0007;
    color: white;
    padding: 2vh;
    border: none;
    cursor: pointer;
    width: 70%;
    opacity: 0.6;
    margin-top: 10px;
    border-radius: 20px;
}

.btn:hover {
    opacity: 1;
}

#navbar {
    padding: 0;
    margin: 0;
}

#orderBtn {
    align-self: center;
}

.copyright {
    margin-top: 5vh;
    color: white;
}