/* -------- 네비게이션 바 스타일 -------- */
#navbar {
	display: flex;
	position: fixed;
	width: 100%;
	height: 80px;
	justify-content: space-between;
	background-color: #ddd;
	color: #000;
	z-index: 10;
	padding: 0 10%;
}
#navbar a{
	display: inline-block;
	width: 100px;
	line-height: 80px;
	font-size: 20px;
	text-align: center;
	color: #000;
	text-decoration: none;
}
#navbar>a{
	font-size: 40px;
}
#navbar ul {
	list-style: none;
	display: flex;
	margin: 0;
	padding: 0;
}
#navbar ul a:hover{
	background-color: #bbb;
}
#navbar ul li a {
}

/* -------- 섹션 공통 스타일 -------- */
/* 개별 섹션 css는 협업 편의성을 위해 개별 파일로 분리 */
.section {
	background-color: #bbb;
	text-align: center;
	padding: 0 10%;
}

