#titleSection 
{
	font-weight: bold;
	text-shadow: rgba(255, 255, 255, 0.7) 2px 2px;
}
#titleSection h1
{
	font-size: 120px;
}
#titleSection h2
{
	font-size: 30px;
}

#titleSection #title1
{
	color: #db0007;
	background-image: url(../img/temp_hamburger.jpg);
	background-size: cover;
}
#titleSection #title2
{
	color: #fbb90d;
	background-image: url(../img/temp_organic.jpg);
	background-size: cover;
}
#titleSection #title3
{
	color: #00afdb;
	background-image: url(../img/title_kitchen.jpg);
	background-size: cover;
}